@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


body {
  background: white;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}



li {
   display: inline;
   margin-right: 20px;
   }


.navMenu{
  position: absolute;
  margin-top: 60px;
  left: 18%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display:inline-block;
  padding: 10px;
}

.navMenu a {
  color: black;
  max-width: 200px;
  text-decoration: none;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 550;
  width: 100px;
}

.navMenu a:hover{
  color: #DA897A;
  border-bottom:1px solid #000000;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  opacity: 1;
}

.navMenu li:focus{
  color: #FB5569;
  transform: translateX(30px);
}


/* Profile Page */
.list-group-mine{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}


.list-group-mine .list-group-item {
  background-color: rgba(255, 255, 255, 0.5);
  font-family: "Montserrat", sans-serif;
  color: black;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: transparent;
  border-right: transparent;
  text-align: left;
  word-wrap: break-word;
}

.list-group-mine .list-group-item:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.SavedButton {
  float: right;
  padding: 10px 25px;
  font-size: 0.5em;
  font-weight: 550;
  background: #000000;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  border: transparent;
  z-index: 1;
  color: #ffffff;
}

.SavedButton:after {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
  border-radius: 10px;
}

.SavedButton:hover {
  color: black;
  background-color: #FB5569;
}

#ProfileBackground{
  width: 100%;
  position: absolute;
}