<!-- This is main index.html that we're going to extend in other html -->

<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- We're simply creating block title so in later use, just simply writing the tab name in between,
  is going to change depending on the page we have to access-->
      <title>{% block Title%}Spur{% endblock%}</title>

  <!--the same case is with the href, depending on the html file, if we have to, we can change
  the css file -->

      <link rel="stylesheet"
          {% block href%}href="{{ url_for('static', filename='css/styles.css') }}"{% endblock%}>
  </head>

  <body>

      <!-- With this block we can change the background image depending on the page-->
    {% block fBackground %}
        <img id="HomeBackground"
             src="{{ url_for('static', filename='images/home_background.png') }}"
             alt="Home Page's Background">
    {% endblock %}


    <!-- Navigation bar block
    Some of the styling is done here, because we want to change the a tags' style depending
    on the page the user is on -->
  {% block Navigation %}
      {% if 'username' in session %}
          <nav class="navMenu" style="display: inline">
          <ul>
              <li><a  style="  color: #DA897A;
              border-bottom:1px solid #000000; font-weight: bold;" href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('motivation') }}">Motivation</a></li>
              <li><a href="{{ url_for('advices') }}">Advices</a></li>
              <li><a href="{{ url_for('bored') }}">Bored?</a></li>
              <li><a href="{{ url_for('about') }}">About Us</a></li>
          </ul>
      </nav>
          {%elif 'username' not in session%}
      <nav class="navMenu" style="display: inline">
          <ul>
              <li><a  style="  color: #DA897A;
              border-bottom:1px solid #000000; font-weight: bold;" href="{{ url_for('home') }}">Home</a></li>
              <li><span title="Login to access"><a style="pointer-events: none" href="{{ url_for('motivation') }}">Motivation</a></span></li>
              <li><span title="Login to access"><a style="pointer-events: none" href="{{ url_for('advices') }}">Advices</a></span></li>
              <li><span title="Login to access"><a style="pointer-events: none" href="{{ url_for('bored') }}">Bored?</a></span></li>
              <li><a href="{{ url_for('about') }}">About Us</a></li>
          </ul>
      </nav>
      {% endif %}
  {% endblock %}
    <!-- End of Bar -->


    <!-- Buttons block
     if the user is not logged in and is on the home page, the buttons for
     login and sign up should appear -->
    {% block Buttons %}
        {% if 'username' in session %}
        <nav class="userManagement">
        <li>
        <li>
      <a class="input-group" >
          <form method="post" action="/Search">
              <input type="search" name="search"  class="form-control" placeholder="...Search" aria-label="Search"
                aria-describedby="search-addon" />
              <button type="submit" class="searchButton">search</button>
          </form>
       </a>
       </li>
        <li><a id="myProfile" style="font-weight: bold" href="{{ url_for('profile',username=session['username'])}}">my profile</a></li>
        <li><a id="signOut" style="font-weight: bold" href="/signout">sign out</a></li>
        </nav>
            {% elif 'username' not in session %}
        <nav class="Buttons" style="display: inline;  float:right;" >
            <li><a href="{{ url_for('login')}}"><button class="LoginButton">log in</button></a></li>
            <li><a href="{{ url_for('register')}}"><button class="SignUpButton">sign up</button></a></li>
        </nav>
        {% endif %}
    {% endblock %}
    <!-- End of Buttons -->



    <!-- Quotes
     This is for Spar's home page's motto, we're not going to use this block later-->
    {% block quote %}
        <div class="quotes" style="display: inline-block">
            <p id="quote">Get your life together</p>
        </div>
    {% endblock %}
   <!-- End of Quotes -->

      {% block Background %}
{#        <img id="HomeBackground"#}
{#             src="{{ url_for('static', filename='images/home_background.png') }}"#}
{#             alt="Home Page's Background">#}
    {% endblock %}

  </body>
</html>