<!-- for inheriting index.html-->
{% extends "index.html" %}
{% block Title%}Log In{% endblock%}

{% block href%}href="{{ url_for('static', filename='css/login.css') }}"{% endblock%}
{% block Navigation %} {% endblock %}

{% block Buttons %} {% endblock %}


{% block Background %}

    <div id="wrapper">
        <img id="LoginBackground"
             src="{{ url_for('static', filename='images/home_background.png') }}"
             alt="Log In Page's Background">
    </div>

    <div class="center">
        <form method="post">
            <h3 style="font-size: 45px">Welcome Back!</h3>
            <div class="txt_field">
                <input type="email" required>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <label>Password</label>
            </div>
            <input type="submit" value="Log In">
            <div class="signup_link">Not a member? <a href="#">Sign Up</a>
            </div>
        </form>
    </div>

    <div class="backDiv">
    <a href="{{ url_for('home')}}"><button class="goBack">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"></path>
        </svg>
    </button>
    </a>
    </div>

{% endblock %}


{% block quote %} {% endblock %}