<!-- We didn't use extend because complex changes should be made and it's easier to start from scratch -->
<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Spur</title>
      <link rel="stylesheet"
          href="{{ url_for('static', filename='css/myprofile.css') }}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

  <body>

  <img id="ProfileBackground"
             src="{{ url_for('static', filename='images/home_background.png') }}"
             alt="My Profiles's Background">

      <nav class="navMenu" style="display: inline">
          <ul>
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('motivation') }}">Motivation</a></li>
              <li><a href="{{ url_for('advices') }}">Advices</a></li>
              <li><a href="{{ url_for('bored') }}">Bored?</a></li>
              <li><a href="{{ url_for('about') }}">About Us</a></li>
          </ul>
      </nav>



<!-- to display saved quotes -->

    <h3 class="centered">@username</h3>
<div class="list-group list-group-mine">
  <a class="list-group-item" >My sin was not specifically this or that but consisted of having shaken hands with the devil. The devil held me in his clutches, the enemy was behind me
      <br>
      <button class="SavedButton">SAVED</button>
  </a>


</div>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </body>