<!-- for inheriting index.html-->
{% extends "index.html" %}

<!-- Changing the name of the tab -->
{% block Title%}My Profile{% endblock%}

<!-- We didn't use the super() because, we have to change a tag's (advice's) style
and the css solely didn't work-->
{% block Navigation %}
   <nav class="navMenu" style="display: inline">
          <ul>
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('motivation') }}">Motivation</a></li>
              <li><a href="{{ url_for('advices') }}">Advices</a></li>
              <li><a href="{{ url_for('bored') }}">Bored?</a></li>
              <li><a href="{{ url_for('about')}}">About Us</a></li>
          </ul>

      </nav>

{% endblock %}

<!-- We didn't write anything in quotes' block because we'Wre not using them-->
{% block Buttons %}
    <nav class="userManagement">
        <li><a  id="myProfile" style="color: #DA897A;
              border-bottom:1px solid #000000; font-weight: bold" href="{{ url_for('profile')}}">my profile</a></li>
        <li><a id="signOut" style="font-weight: bold" href="#">sign out</a></li>
    </nav>
{% endblock %}
{% block quote %}{% endblock %}


{% block Background %}

{% endblock %}

<!-- End of the block -->

</div>

